node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.idea/
.gradle/

# macOS
.DS_Store

# backend
*\build
*\.gradle
*\bin
*.classpath
*.project
Backend/.settings/org.eclipse.buildship.core.prefs
Backend/apigateway/.settings/org.eclipse.buildship.core.prefs
Backend/service-usermgmt/.settings/org.eclipse.buildship.core.prefs
Backend/.env
